<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Luno Bitcoin Calculater 👾</title>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="myAppController" class="bg-blue-lightest">
    <div class="bg-indigo-darkest text-center py-4 lg:px-4">
        <div class="p-2 bg-indigo-darker items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full bg-indigo uppercase px-2 py-1 text-xs font-bold mr-3">🔥 Tips</span>
            <span class="font-semibold mr-2 text-left flex-auto">Bookmark this page to keep track your bitcoin</span>
        </div>
    </div>
    <div class="container align-middle mx-auto pt-8 pr-3 pl-3">
        <h1 class="text-center text-3xl font-sans font-bold">How much do you invest in Luno? 👾</h1>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8">
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    How much bitcoin do you have? (BTC)
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="btc" type="number" ng-model="userBtc">
            </div>
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    How much money have you invested? (MYR)
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" type="number" ng-model="userMyr" id="myr">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue hover:bg-blue-dark rounded-full text-white font-bold py-2 px-4 rounded" ng-click="calculateProfit()" ng-disabled="!userBtc && !userMyr">
                    Calculate Profit 🤑
                </button>
            </div>
            <p class="mt-4">We stored your value in the local storage 🗳️ . You don't need to input again when you visit this website.</p>
        </div>
        <div class="flex flex-wrap mb-4" ng-if="showCard">
            <div class="w-full sm:w-full md:w-full mt-3 bg-white shadow-md rounded ">
                <div class="w-full lg:flex">
                    <div class="w-full border-r border-b border-l border-grey-light lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                        <p>Your profit 💰 is: </p>
                        <div>
                            <div class="text-black text-center font-bold text-xl mb-2">RM
                                <span class="text-5xl">{{ userProfit | number : 2 }}</span>
                            </div>
                            <p class="text-grey-darker text-base"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-full md:w-full mt-3 bg-white shadow-md rounded  ">
                <div class="w-full lg:flex">
                    <div class="w-full border-r border-b border-l border-grey-light lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                        <p>Your bitcoin 👾 worth: </p>
                        <div>
                            <div class="text-black text-center font-bold text-xl mb-2">RM
                                <span class="text-5xl">{{userAsset | number : 2}}</span>
                            </div>
                            <p class="text-grey-darker text-base"></p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="font-mono mb-4 mt-4">
                Tweet "I've already get {{margin | number:2}}% increase from my investment in Bitcoin. by lunobitcoin.me"
            </p>
            <a class="bg-blue hover:bg-blue-dark text-white font-bold mt-4 p-4 rounded-full mx-auto block text-center no-underline" ng-href="https://twitter.com/home?status=I've%20already%20get%20{{margin | number:2}}%25%20increase%20from%20my%20investment%20in%20Bitcoin.%20by%20lunobitcoin.me%22">
				Tweet this
			</a>
        </div>
        <div class="flex items-center bg-blue text-white text-sm font-bold px-4 py-3" role="alert" ng-if="showCard">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
    </svg>
    <p>1BTC = RM {{currencyBTC}} *based on Luno Price</p>
</div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106536425-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-106536425-2');
    </script>
</body>

</html>